<div class="container" style="padding-top:60px;">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <form name="form" #formElement="ngForm" (ngSubmit)="onResetPassword()">
              <h5>Forgotten password?</h5>
              <p id="info-text">Please enter your login email address. A link to re-issue your password will be sent to
                you at the e-mail address saved in your profile.</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input
                  (ngModelChange)="inputChanged($event)"
                  type="text"
                  name="UserName"
                  class="form-control sty1"
                  id="form-input"
                  placeholder="Enter your email address"
                  ngModel
                  required>
              </div>
              <p *ngIf="!isValidCredentials" style="color:#E92626;font-size:20px;font-weight:normal" class="success">
                Email couldn't be found. Please try again.
              </p>
              <div class="row">
                <div class="col-6" style="margin-top: 15px">
                  <button class="main-button">Send mail</button>
                  <button class="main-button" id="back-button" type="button" routerLink="/login">Go Back</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
