<!-- Modal -->
<div class="modal fade" #addBugModal id="addBugModal" tabindex="-1" role="dialog" aria-labelledby="addBugModalLabel"
     data-backdrop="false" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h5 class="modal-title" id="addBugModalLabel">Add a new bug to {{receivedProject.name}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="form" #formElement="ngForm" (ngSubmit)="onAddBug()">
          <label for="title" class="form-label">Title</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <input
              type="text"
              name="title"
              id="title"
              class="form-control sty1"
              placeholder="Bug title"
              required>
          </div>
          <label for="Password" class="form-label">Password</label>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-lock"></i></span>
            </div>
            <input
              type="password"
              name="Password"
              id="Password"
              class="form-control"
              placeholder="Password"
              required>
          </div>

          <button class="main-button float-right px-4">Log in</button>
          <button type="button" routerLink="/forgot-password" id="forgot-password" class="btn btn-link px-0">Forgot password?</button>
        </form>
      </div>
    </div>
  </div>
</div>
