<div class="container" style="padding-top:60px;">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card-group custom-border-shadow">
        <div class="card p-4">
          <div class="card-body">
            <form name="form" #formElement="ngForm" (ngSubmit)="onRegister()">
              <div class="logo">
                <img src="../../../assets/images/bugicon.png" width="40x" height="40px"
                     alt="logo" class="logo">
              </div>
              <h1 style="text-align:center" class="login-title">Register</h1>

              <label for="email" class="form-label">Email address</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input
                  type="text"
                  name="email"
                  id="email"
                  class="form-control sty1"
                  placeholder="name@company.com"
                  required>
              </div>
              <label for="password" class="form-label">Password</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control"
                  placeholder="Password"
                  autocomplete="new-password"
                  required>
              </div>
              <label for="passwordCheck" class="form-label">Confirm password</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input
                  type="password"
                  name="passwordCheck"
                  id="passwordCheck"
                  class="form-control"
                  placeholder="Confirm password"
                  required>
              </div>
              <!--              <div>-->
              <!--                <p *ngIf="this.sessionService.errorMessage" style="color:#E92626;font-size:20px;font-weight:normal" class="success">-->
              <!--                  {{this.sessionService.errorMessage}}-->
              <!--                </p>-->
              <!--              </div>-->
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-primary float-right px-4">Register</button>
                </div>
              </div>

              <!--              <button type="button" routerLink="/forgot-password" class="btn btn-link px-0">Forgot password?</button>-->
            </form>
            <div class="row">
              <div class="col-md-12">
                <p class="sign-up-text"> Already have an account? <a routerLink="/login">Log in</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
