<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-logo" routerLink="/home"> <img src="../../../assets/images/bugicon.png" width="40x" height="40px" style="margin-right: 15px;"></a>
  <a class="navbar-brand" routerLink="/home"> Crew bug tracker </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/overview">Overview </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Projects </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Issues </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">
          Settings
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown_target">
          <a class="dropdown-item"> Item 1 </a>
          <a class="dropdown-item"> Item 1 </a>
          <a class="dropdown-item"> Logout </a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <!-- TODO: Fix search input in header -->
<!--      <li class="nav-item">-->
<!--      <form class="form-inline my-2 my-md-0">-->
<!--        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-primary" type="submit">Search</button>-->
<!--      </form>-->
<!--      </li>-->
      <li class="nav-item" id="registerButton">
        <a class="nav-link" routerLink="/register"><b> Register </b></a>
      </li>
      <li class="nav-item" id="loginButton">
        <a class="nav-link" routerLink="/login"><b> Log in </b></a>
      </li>
    </ul>
  </div>
</nav>
