#navText {
  margin-right: 4px;
}

#registerButton {
  margin-left: 5px;
}

.navbar-brand {
  font-size: 19px;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #C2BEBE;
}

/* Override bootstrap default styles */
.fixed-top {
  position: relative;
}

#navText {
  margin-right: 4px;
}

span#navText {
  outline: none;
  cursor: pointer;
  font-size: 15px;
}

a.nav-link {
  font-size: 15px;
}

/* Dropdown item styles */
a.dropdown-item {
  cursor: pointer;
}

div#navbarSupportedContent {
  transition: 0.5s !important;
}

b {
  font-size: 15px;
}
