.login-title {
  margin-bottom: 20px;
  font-size: 26px;
}

.form-label {
  font-size: 16px;
  font-family: inherit;
}

.sign-up-text {
  margin-top: 15px;
  text-align: center;
  font-size: 0.9rem;
}

.logo {
  text-align: center;
}

#forgot-password {
  font-size: 0.9rem;
}

label.form-label {
  font-size: 0.9rem;
}


