.profile-title {
  font-family: 'Enriqueta', arial, serif; line-height: 1.25;
  font-size: 19px; font-weight: bold;
  padding: 10px;
  margin-bottom: 0px;
}

.title-content {
  margin-top: 20px;
  background-color: #fafafa;
  border: 1px solid #d3d3d3;
}

.profile-content {
  border: 1px solid #d3d3d3;
  position: relative;
}

.sub-header {
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

#edit-profile-header {
  margin-top: 20px;
}

.avatar {
  border-radius: 50%;
  height: 64px;
  width: 64px;
  margin-left: 5px;
}

.name {
  position: absolute;
  top: 4px;
  left: 110px;
  font-weight: bold;
}

.email {
  position: absolute;
  top: 35px;
  left: 110px;
}

p {
  font-size: 1rem;
}

