/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
/*@import "~@ng-select/ng-select/themes/default.theme.css";*/

html, body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

i.btn {
  cursor: pointer;
}

body {
  /*Choose Poppins or Candara*/
  font-family: Poppins, sans-serif !important;
  min-height: 100%;
}

.main-button{
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
}

.main-button:hover {
  border: 1px #C6C6C6 solid;
  box-shadow: 1px 1px 1px #EAEAEA;
  color: #333333;
  background: #F7F7F7;
}

.main-button:active {
  box-shadow: inset 1px 1px 1px #DFDFDF;
}

input {
  font-size: 0.9rem !important;
}

/* TODO Change font size of input placeholder to 0.9rem */
input::placeholder {
  font-size: 0.9rem;
}

.page-container {
  min-height: calc(100vh - 70px);
}

.crud-btn-group {
  width: 35%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .crud-btn-group {
    width: 50%;
  }
}

/* SCROLLBAR STYLE */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
