/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
/*@import "~@ng-select/ng-select/themes/default.theme.css";*/

html, body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

i.btn {
  cursor: pointer;
}

body {
  /*Choose Poppins or Candara*/
  font-family: Poppins, sans-serif !important;
  min-height: 100%;

}

.text-green-primary {
  font-weight: bold;
  color: #A7BC5B !important;
}

.text-green-secondary {
  font-weight: bold;
  color: #8DA242 !important;
}

.bg-green-primary {
  background-color: #A7BC5B !important;
}

.bg-green-secondary {
  background-color: #8DA242 !important;
}

.btn-primary {
  background: #888 !important;
  border: none;
}

/* TODO, does not work yet, border color is not changing onclick */
.btn-primary:active {
  border-color: #FD6154 !important;
}

.page-container {
  min-height: calc(100vh - 70px);
}

.crud-btn-group {
  width: 35%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .crud-btn-group {
    width: 50%;
  }
}

/* SCROLLBAR STYLE */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
